

script(src='https://code.jquery.com/jquery-1.11.1.min.js')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' crossorigin='anonymous')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
style
      include css/dashboard.css
      include css/client_unified.css
      


#nav
  div.user-banner
    img(src='./uploads/clients/b0uda.png')
    h5.username= user.username
  ul
    li.head MENU
    li.active
      a(href="./dashboard")
        i.fa.fa-fw.fa-dashboard
        span Tableau de bord
    li
      a(href="./client_ajouter")
        i.fa.fa-fw.fa-inbox
        span.swatch.light-grey Ajouter un produit
    li
      a(href="./client_produits")
        i.fa.fa-fw.fa-inbox
        span.swatch.light-grey Liste des produits
    li
      a(href="/client_contact")
        i.fa.fa-fw.fa-user
        span Contact
    li
      a(href="/logout")
        i.fa.fa-fw.fa-user
        span Logout


#main
  header
    ol.breadcrumb
      li 
        a(href="/dashboard")= user.username
      li.active tableau de bord
  #content
    h1= "Bienvenue " + user.lastname + " " + user.firstname + "  dans votre tableau de bord Web" 
    .box: .body
      p.user_message La solution professionnelle pour gérer votre commerce dans Food Service
    .row
      .col-sm-4
        .box.property-glance
          .header
            h4.pull-left Mes Produits
            span.pull-right Prix moyen: 40 DH
            div.clear-left
              i.fa.fa-map-marker
              span Spécialité
          .body
            .row
              div.col-sm-6.statistic.text-center
                h1= validated.yes
                small Produits validés
              div.col-sm-6.text-center
                h1= validated.no
                small En attente validation

            .row
              .col-sm-6.col-xs-6.widget(data-toggle = "tooltip" data-placement = "bottom" title = "Tooltip on bottom")
                a(href="/client_ajouter")
                  i.fa.fa-plus
              .col-sm-6.col-xs-6.widget
                a(href="/client_produits")
                  i.fa.fa-list-ol
              
      .col-sm-4
        .box.property-glance
          .header
            h4.pull-left Contact
            span.pull-right XXX
            div.clear-left
              i.fa.fa-map-marker
              span= user.place
          .body
            .row
              div.col-sm-12.statistic.text-center
                h1= contact_required.length
                small  Profil incomplet. Vous pouvez renseigner les informations manquantes 
                  a(href="/client_contact") ici
              

            .row
              .col-sm-12.col-xs-12.widget(data-toggle = "tooltip" data-placement = "bottom" title = "Tooltip on bottom")
                a(href="/client_contact")
                  i.fa.fa-user
              

    div.row
      .col-sm-6
        h1 Recent Messages
        .box(style = "margin-top: 20px;"): .body
          p A quick-glance at work orders and customer needs.
        .timeline
          - for (var x = 0; x < 3; x++)
            .item
              .circle
              .message
                Here we have a timeline item
      .col-sm-6    
        h1 Recent Transactions
        .box(style = "margin-top: 20px;"): .body
          p A quick-glance at income and expendatures.

    h4.love
      | Made with
      i.fa.fa-heart

    script
        include js/dashboard.js  